

.vscode/
**/__pycache__/
datasets/processed
datasets/raw
.env
/pyenv
/etc
/Include
/Lib
/R-library
/Scripts
/share
/pyvenv.cfg
/scripts

/src/analysis

/design
src/embedding_algorithms
/test
src/hypothesis
/config/KEYS.py
/results
src/results
/src/visualization
.python-version